$font : 'Arial';

$ticketAwaiting : #614023;
$ticketDevelopment : #234761;
$ticketTesting : #bda814;
$tickeValidation : #8a2727;
$ticketDeployment : #5e4c8a;
$ticketDone : #236133;

$areaRelationship : #453479;
$areaAudiences : #8B3168;
$areaAudit : #3c9da7;
$areaSelling : #B17F3F;
$areaCopies : #2D5472;
$areaDirectorship : #B13F3F;
$areaFinancial : #31893B;
$areaHumanResources : #96aa3c;
$areaDiligencies : #6b7f9c;
$areaTechnology : #005ee6;
$areaMarketing : #678069;
$areaCommunity : #966262;
$areaProducts : #5d5d5d;
$areaProjects : #712973;

body {
  margin: 0;
  padding: 1em;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column{
  background: #0000000f;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  min-height: 200px;

  h3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    color: #FFF;
    border-radius: 4px;
    padding: 2px;
  }

  .ticket-card{
    width: 100%;
    color: #FFF;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;

    .title{
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
    }

    .text{
      font-size: 0.7em;
      display: block;
    }

  }

}

//TICKET STATUS//

.awaiting{
  background: $ticketAwaiting;
}

.development{
  background: $ticketDevelopment;
}

.testing{
  background: $ticketTesting;
}

.validation{
  background: $tickeValidation;
}

.deployment{
  background: $ticketDeployment;
}

.done{
  background: $ticketDone;
}

//CARD REQUESTER AREA//

.audiences{
  background: $areaAudiences;
}

.audit{
  background: $areaAudit;
}

.selling{
  background: $areaSelling;
}

.copies{
  background: $areaCopies;
}

.directorship{
  background: $areaDirectorship;
}

.financial{
  background: $areaFinancial;
}

.human-resources{
  background: $areaHumanResources;
}

.relationship{
  background: $areaRelationship;
}

.diligencies{
  background: $areaDiligencies;
}

.technology{
  background: $areaTechnology;
}

.marketing{
  background: $areaMarketing;
}

.community{
  background: $areaCommunity;
}

.products{
  background: $areaProducts;
}

.projects{
  background: $areaProjects;
}

.default{
  background: #FFF;
}

//